{
  "builders": [
    {
      "type": "amazon-ebs",
      "region": "{{ PACKER.region }}",
      "source_ami": "{{ PACKER.source_ami }}",
      "assume_role": {
        "role_arn": "arn:aws:iam::787257093414:role/full_ec2_access"
      },
      "vpc_id": "{{ PACKER.vpc_id }}",
      "subnet_id": "{{ PACKER.subnet_id }}",
      "instance_type": "{{ PACKER.instance_type }}",
      "ssh_username": "{{ PACKER.ssh_username }}",
      "ami_name": "nginx-ami-{{timestamp}}",
      "ami_description": "An AMI with NGINX installed using Ansible",
      "tags": {
        "Name": "nginx-ami-{{ timestamp }}",
        "Created": "{{timestamp}}",
        "Source_Ami": "{{ PACKER.source_ami }}"
      },
      "ami_block_device_mappings": [
        {
          "device_name": "{{ nginx.MACHINES.device_name }}",
          "volume_type": "{{ nginx.MACHINES.volume_type }}",
          "volume_size": "{{ nginx.MACHINES.volume_size }}",
          "encrypted": false,
          "delete_on_termination": "{{ nginx.MACHINES.delete_on_termination }}"
        }
      ]
    }
  ],
  "provisioners": [
    {
      "type": "ansible",
      "playbook_file": "{{ product }}_install.yaml",
      "playbook_dir": "{{ playbook_dir }}",
      "command": "ansible-playbook"
    }
  ]
}
