{
  "builders": [
    {
      "type": "amazon-ebs",
      "region": "{{ PACKER.region }}",
      "source_ami": "{{ PACKER.source_ami }}",
      "assume_role": [
      {
        "role_arn": "arn:aws:iam::787257093414:role/full_ec2_access"
      }],
      "vpc_id": "{{ PACKER.vpc_id }}",
      "subnet_id": "{{ PACKER.subnet_id }}",
      "instance_type": "{{ PACKER.instance_type }}",
      "ssh_username": "{{ PACKER.ssh_username }}",
      "ami_name": "nginx-ami",
      "ami_description": "An AMI with NGINX installed using Ansible",
      "tags": {
        "Name": "nginx-ami-{{ timestamp }}",
        "Created": "{{timestamp}}",
        "Source_Ami": "{{ PACKER.source_ami }}"
      },
      "ami_block_device_mappings": [
        {
          "device_name": "{{ MACHINE.ami_block_device_mappings.device_name }}",
          "volume_type": "{{ MACHINE.ami_block_device_mappings.volume_type }}",
          "volume_size": "{{ MACHINE.ami_block_device_mappings.volume_size }}",
          "encrypted": false,
          "delete_on_termination": true
        }
      ]
    }
  ],
  "provisioners": [
    {
      "type": "ansible",
      "playbook_file": "{{ playbook_dir }}/{{ product }}_install.yaml",
      "command": "ansible-playbook"
    }
  ]
}
